@tailwind base;
@tailwind components;
@tailwind utilities;

.default {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  background-image: url("../assets/images/background-pattern-desktop.svg");
}

@media (max-width: 375px) {
  .background {
    background-image: url("../assets/images/background-pattern-mobile.svg");
  }

  .font-w-600 {
    font-size: 14px;
  }

  .paragraph-text {
    font-size: 12px;
  }
}

.paragraph-text {
  font-size: 14px;
}

.font-w-600 {
  font-weight: 600;
  font-size: 16px;
}

.font-w-700 {
  font-weight: 700;
}

.bg-c-white {
  background-color: hsl(0, 0%, 100%);
}

.bg-c-gpurple {
  background-color: hsl(292, 16%, 49%);
}

.bg-c-dpurple {
  background-color: hsl(292, 42%, 14%);
}

.bg-c-lpink {
  background-color: hsl(275, 100%, 97%);
}
